{% extends "email/base.html" %}

{% block content %}
<tr><td><p>You have recieved a new message concerning your
        request:</p></td></tr>
<tr><td>
        <table id='Info'>
        <tr><td align='left'>Subject:</td>
            <td align='left'>{{message.ticket.title}}</td></tr>
        <tr><td align='left'>Category:</td>
            <td align='left'>{{message.ticket.category.name}}</td></tr>
        <tr><td align='left'>Created On:</td>
            <td align='left'>{{message.ticket.created.strftime("%Y-%m-%d")}}
            </td></tr>
        </table></td></tr>
<tr><td><p>{{message.text}}</p></td></tr>
<tr><td><p>From: {{message.owner.name}}</p></td></tr>
<tr><td><p>Sent On {{message.created.strftime("%Y-%m-%d")}}</p></td></tr>
<tr><td></td></tr>
<tr><td><p>You can reply online at 
    <a href="{{url_for("review",referrer=ticket.id|referrer,_external=True)}}">
        {{url_for("review",referrer=ticket.id|referrer,_external=True)}}
    </a></p></td></tr>
{% endblock %}
