{% extends "email/base.html" %}

{% block content %}
<tr><td><p>A new user has registered:</p></td></tr>
<tr><td>
        <table id='Info'>
        <tr><td align='left'>Name:</td>
            <td align='left'>{{user.name}}</td></tr>
        <tr><td align='left'>Email:</td>
            <td align='left'>{{user.email}}</td></tr>
        <tr><td align='left'>Student ID:</td>
            <td align='left'>{{user.student_id}}</td></tr>
            </td></tr>
        </table></td></tr>
<tr><td><p>You can approve this user at: 
    <a href="{{url_for("admin.manage")}}">{{url_for("admin.manage")}}</a>
    </p></td></tr>
<tr><td><p>NOTE: Do not reply to this email, as this inbox in not checked.
        </p></td></tr>
{% endblock %}
