{% extends 'layout.html' %}
{%- from 'macros.html' import navlink, navitem, script, dropdown with context-%}
    {% block navbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{url_for('index')}}">CARA RT - ADMIN</a>
          <div class="nav-collapse">
            <ul class="nav">
              {{ navlink('.index','Home') }}    
              {{ navlink('.create','Create') }}
              {{ navlink('.categories','Categories') }}
              {{ navlink('.users','Users') }}
              {% call dropdown('Archives' ) %}
                {{ navlink('.archives', 'Archives')}}
                {{ navlink('.archives_categories', 'Archive Categories')}}
              {% endcall %}
            </ul>
            <ul class="nav pull-right">
              {{ navlink('user','Logged in as '~g.user.name) }}
              {{ navlink('logout','Log Out',) }}
            </ul>
            <ul class="nav pull-right">
              {% call dropdown('Manage', 'icon-cog icon-white') %}
                {{ navlink('.manage_categories', 'Manage Categories')}}
                {{ navlink('.manage_users', 'Manage Users')}}
              {% endcall %}
            </ul>
              
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% endblock navbar %}

    {% block script %}
    {{ super()}}
    {{ script('datepicker/js/bootstrap-datepicker.js') }}
    {% endblock script %}
