{% extends 'admin/create.html' %}
{% from 'macros.html' import field,field_prepend,checkbox  %}
  {% block container %}
    <div class="modal hide" id="deleteModal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Warning!</h3>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. Are you sure you want to delete this
          ticket?</p>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button class="btn" data-dismiss="modal">Cancel</button>
        </div>
        <div class="pull-right">
          <form action="{{url_for('.delete',id=id)}}" method="POST">
            <button class='btn btn-danger'>Delete</button>
          </form>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="span6 pull-left"><!--Delete Button-->
        {% if not ticket.completed %}
        <a class="btn btn-danger" data-toggle="modal" href="#deleteModal">
          Delete</a>
        {% else %}
        <a class="btn disabled btn-danger" href="#">Delete</a>
        {% endif %}
      </div>  <!--/Delete Button--> 
      <div class="span6 pull-right"><!--Completed Button-->
        <form action="{{url_for('.complete',id=id)}}" method="POST">
          {% if ticket.completed %}
          <button disabled class='btn btn-success disabled pull-right'>Completed</button>
          {% else %}
          <button class='btn btn-success pull-right'>Completed</button>
          {% endif %}
        </form>
      </div>  <!--/Completed Button--> 
    </div>
    <div class='row'>
      <div class="span5">
        {{ super() }}  
      </div>

      <div class="span5">
        <div class="row"><!-- Owner Row -->
          <div class="span7">
            <legend>Owner</legend>
            <dl class='dl-horizontal'>
              <dt>Name</dt> <dd>{{ticket.user.name}}</dd>
              <dt>Email</dt> <dd>{{ticket.user.email}}</dd>
            </dl>
          </div>
        </div><!-- Owner Row -->

        <div class="row"><!-- Dates Row -->
          <div class="span7">
            <legend>Dates</legend>
            <dl class='dl-horizontal'>
              <dt>Created</dt> 
              {% if ticket.created %}
              <dd>{{ticket.created.strftime('%Y-%m-%d')}}</dd>
              {% else %}
              <dd>None</dd>
              {% endif %}
              <dt>Due</dt> 
              {% if ticket.due %}
              <dd>{{ticket.due.strftime('%Y-%m-%d')}}</dd>
              {% else %}
              <dd>None</dd>
              {% endif %}
            </dl>
          </div>
        </div><!-- Dates Row -->

        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#notes" data-toggle="tab">Notes</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#files" data-toggle="tab">Files
              ({{ticket.files.count()}})</a></li>
          </ul>
          <div class='tab-content'> <!--TAB CONTENT--> 
            <div class='tab-pane active' id='notes'> <!--TAB PANE 1--> 
              <div class="span6 well">
                <form action="{{url_for('.note',id=id)}}" 
                  method="POST" class="form-inline">
                  {{ note_form.hidden_tag() }}
                  <fieldset>
                    {{ field(note_form,'text',fieldclass='span6',rows=3) }}
                    <div class="pull-right">
                      <input type="submit" class="btn btn-primary"
                        value='Submit'>
                      <input type="reset" class="btn" value='Cancel'>
                    </div>
                  </fieldset>
                </form>
              </div>
              {% for note in ticket.notes|reverse %}
              <div class="row">
                <div class="span6  well">
                  <div class="badge pull-right">
                    {{ note.created }}
                  </div>
                  <p>{{ note.text }}</p>
                  <p class="pull-right"> -- {{ note.user.name }}</p>
                </div>
              </div>
              {% endfor %}
            </div><!-- TAB PANE 1 -->

            <div class='tab-pane' id='messages'> <!--TAB PANE 2--> 
              <div class="span6 well">
                <form action="{{url_for('.message',id=id)}}" 
                  method="POST" class="form-inline">
                  {{ msg_form.hidden_tag() }}
                  <fieldset>
                    {{ field(msg_form,'text',fieldclass='span6',rows=3) }}
                    <div class="pull-right">
                      <input type="submit" class="btn btn-primary"
                        value='Submit'>
                      <input type="reset" class="btn" value='Cancel'>
                    </div>
                  </fieldset>
                </form>
              </div>
              {% for message in ticket.messages %}
              <div class="row">
                <div class="span6  well">
                  <div class="badge pull-right">
                    {{ message.created }}
                  </div>
                  <p>{{ message.text }}</p>
                  <p class="pull-right"> -- {{ message.user.name }}</p>
                </div>
              </div>
              {% endfor %}
            </div><!-- TAB PANE 2 -->

            <div class='tab-pane' id='files'> <!--TAB PANE 3--> 
              <div class="row">
                <div class="span6  well">
                  <table class='table table-striped'>
                    <colgroup>
                      <col class='span2'>
                      <col class='span2'>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th>Filename</th>
                        <th>Uploaded</th>
                      </tr>
                      {% for f in ticket.files %}
                      <tr>
                        <td>
                          <a href='{{url_for('uploaded',id=f.id)}}'>
                            {{ f.name|noblank }}</a></td>
                        {% if f.created %}
                        <td>{{ f.created.strftime('%Y-%m-%d') }}</td>
                        {% else %}
                        <td>Unknown Creation Date</td>
                        {% endif %}
                      </tr>
                      {% else %}
                      <tr>
                        <td> No Files </td>
                      </tr>
                      {%- endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- TAB PANE 3 -->
          </div><!-- TAB CONTENT -->
        </div><!-- TABBABLE -->
      </div>
    </div>
  {% endblock container %}
